body {
    margin: 0;
    max-height: 100vh;
}

.top {
    display: flex;
    width: 100%;
    height: 50vh;

}


/* ------------------------ left top ----------------------------- */
.top1 {
    background: gray;
    flex: 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    font-size: 4em;
    font-weight: bold;
}

.profile {
    position: relative;
    font-size: 1.6em;
    font-weight: 500;
    margin-top: 15%;
    line-height: 1.8;
}

.user-image{
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin-right: 10px;
}

/* ------------------------ right top ----------------------------- */
.top2 {
    position: relative;
    flex: 7;
    background: darkslateblue;
    display: flex;
    flex-flow: column nowrap;
    text-align: right;
    justify-content: center;
}

.group-name {

    align-items: flex-end;
    right: 0;
    font-size: 3em;
    font-weight: bold;

}

.group-subname {

    right: 0;
    font-size: 1.7em;
    font-weight: 600;
}

.group-info {
    right: 0;
    color: gray;
    font-size: 1em;

}

.group-margin{
    margin: 15px 25px;
}

.line {
    width: 100%;
    height: 10px;
    background: gray;
    bottom: 0;
    right: 0;
    position: absolute;
}

/* ----------------------- bottom --------------------- */
.group-container {
    display: flex;
    text-align: center;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.flex2 {
    flex: 2;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex2 img {
    width: 50%;
}

.flex2 img:hover{
    opacity: 0.6;
}

.edit-btn{
    width: 40%;
    height: 10%;
    background: darkslateblue;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex3 {
    flex: 3;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.n-group {
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px;
}

.group-image {
    width: 80%;
    border-radius: 50%;
    background: darkslateblue;
    max-height: 60%;
}

.group-image:hover {
    opacity: 0.7;
}

