body{
	margin : 0;
}
a{
	font-size: 100%;
	text-decoration:none;
	color : black;
}

.container{
	position: absolute;
	top:50%;
	left: 50%;
	background: transparent;
	transform: translate(-50%,-50%);
}

.logo{
    font-size: 5em;
    font-weight: bold;
}

.input-box{
    margin: 10px 0;

}
.button-box{
    
}

.sub-container{
    font-size: 1em;
}