body{
	margin:0;
}

.container {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
	font-size: 5em;
	font-weight: bold;

}

a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}

.sub-container{
	float: right;
	font-size: 1.3em;
}

.dd{
	height: 200vh;
}

.sub-title{
	font-size: 1.7em;
	font-weight: bold;
	margin-left: 15%;
}





/* slider----------------------------------------------------- */

.s_container{
	background: wheat;
}

.slider_wrap{
	width:100%;
	height: 310px;
	position:relative;
	overflow:hidden;
}

.slider{
	position: absolute;
	left:0;
	transition: all .4s;
	height: 310px;
	width:247vw;
}

.slide{
	transition: all .4s;
	float:left;
	position:relative;
	width: 24.7vw;
	text-align: center;
	background:wheat;
}

.slide div{
	margin: 10px 0;
	font-size: 20px;
	font-weight: 600;
}

.s_img{
	margin-top: 15px;
	width:250px;
	height:250px;
	border-radius: 100%;
	background: ivory;
}

@media screen and (max-width: 1024px) {
	.slider_wrap{
		width:100%;
		height: 260px;
		position:relative;
		overflow:hidden;
	}
	
	.slider{
		position: absolute;
		left:0;
		transition: all .4s;
		height: 260px;
		width:247vw;
	}

	.slide div{
		margin: 10px 0;
		font-size: 20px;
		font-weight: 600;
	}
	
	.s_img{
		margin-top: 15px;
		width:200px;
		height:200px;
		border-radius: 100%;
		background: ivory;
	}
	
	.s_btn, .s_btn_img{
		width:80px !important;
		height: 80px !important;
	}
	.s_btn{
		transform: translateY(120%) !important;
	}

}


.slide_bar{
	width: 100%;
	height: 15px;
	position: relative;
	overflow: hidden;
	background: rgb(255, 255, 255);
}
.bar{
	width: calc(100%/7);
	height: 15px;
	background: black;
	opacity: 0.8;
	left:0;
	position: absolute;
	transition: all .5s;
}

.s_btn{
	width:100px;
	height: 100px;
	position: fixed;
	z-index: 2;
	transform: translateY(100%);
	opacity: 0.1;
	transition: .3s all;
}
.s_btn:hover{
	opacity: 0.8;
	background: white;
	border-radius: 50%;
}

.s_btn_left{
	left:0;
}

.s_btn_right{
	right:0;
}

.s_btn_img{
	width: 100px;
	height: 100px;
}