/*------------- Nav Bar --------------*/
.nav_container {
	width: 100vw;
    height: 8vh;
    background: var(--color_dark);
    color: var(--color_white);
    font-weight: bold;
    font-size: 1.3rem;
	position: fixed;
    z-index: 10;
    top:0
}

.nav_menus{
    height: 8vh;
    display: flex;
    align-items: center;
}

.nav_logo{
    left:6vw;
    position: absolute;
}
.nav_auth{
    right:6vw;
    position: absolute;
}
.nav_auth span, .nav_auth a{
    margin-left: 5vw;
    cursor: pointer;
}
.nav_auth span:hover, .nav_auth a:hover{
    color: var(--color_purple);
}
.nav_auth .nav_user_info{
    cursor: unset;
}

.user_img{
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 4px;
	vertical-align: text-bottom;
}


@media (min-width: 480px) and (max-width: 767px){
    .login_modal{
        width: 60vw;
        height: 40vh;
    }
    .login_input{
        width: 40vw;
    }
    .login_btn{
        width: 40vw;
    }
}
@media (min-width: 768px) and (max-width: 1023px){

} 
@media (min-width: 1024px) and (max-width: 1199px){

}
@media (min-width: 1200px) and (max-width: 1599px){
    .nav_container{
        font-size: 1.5rem;
    }
}
@media (min-width: 1600px){
    
    .nav_container{
        font-size: 1.6rem;
    }

    /* 로그인 모달 */
    .login_title{
        font-size: 2.5rem;
        margin-bottom: 3.5vh;
    }
    .login_input{
        font-size: 1.3rem;
    }
    .login_btn{
        font-size: 1.3rem;
        padding: 1em;
    }
    .login_exit{
        font-size: 1.3rem;
        width: 50px;
        height: 50px;
    }

    /* 회원가입 모달 */
    .signup_modal{
        font-size: 1.3rem;
        height: 88vh;
    }
    .signup_title{
        font-size: 2.5rem;
    }
    .signup_input{
        padding: 0.7em;
    }
    .signup_exit{
        width: 50px;
        height: 50px;
        font-size: 1.3rem;
    }
}