.Board{
	position: relative;
	display:flex;
	flex-direction:column;
	align-items: center;
	padding-top: 70px;
	position: absolute;
	background: transparent;
	width: 70%;
	height: 80%;
	margin-top: 10px;
}
.Board__title{
	margin-top: 10px;
	width:90%;
	height: 50px;
	background-color: white;
	border-radius: 5px;

}
.Board__title h1{
	margin: 10px;
}

.Board__lists{
	display: flex;
	flex-direction:column;
	align-items: center;
	margin-top: 10px;
	width: 90%;
	height:100%;
	list-style:none;
}
.board__lists__item{
	width: 100%;
	background-color: white;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 5px;

}
.board__lists__item h3{
	margin-left: 10px;
}
.board__lists__item hr{
	margin : 5px;
	width: 30%;
}
.board__lists__item p{
	margin-left: 20px;
	margin-right: 10px;
	font-color: gray;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}
.board__lists__item ul{
	text-align: right;
	list-style :none;
}
.board__lists__item li{
	display: inline;
	font-color: gray;
	font-size: 13px;
	margin-right: 10px;
}
.Board__input{
	width: 90%;
	margin-top: 10px;
}
.input__off{
	width: 100%;
}
.input__off textarea{
	width: 100%;
	height: 100%;
	margin-top: 5px;
	background-color: white;
	cursor: pointer;
	border-radius: 5px;
	border: 0px;

}
textarea::placeholder{
	text-indent: 10px;
}
input::placeholder{
	text-indent: 10px;
}
.input__on{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	height: 100%;

}
.input__subject{
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 0px;
	text-indent: 10px;
	font-size: 18px;
	font-style: bold;
	outline: none;
}
.input__article{
	padding: 5px;
	resize: none;
	width: calc(100% - 10px);
	height: 300px;
	border-radius: 5px 5px 0 0;
	border: 0px;
	font-size: 15px;
	outline: none;

}
.input__buttons{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 70px;
	border-radius: 0,0,5px 5px;
	background-color: white;

}

.file_input{
	position: absolute;
	left: 12px;
	top:15px;
	opacity: 0.4;
}
.file_input input{
	opacity:0;
}
.file_input label{
	cursor: pointer;
}
.file_preview{
	position: absolute;
	left: 60px;
	top: 10px;
	width: 300px;
	height: 40px;
	display: flex;
	justify-content: left;
	border-style: dashed;
	border-color: lightgray;
}

.file_preview img{
	height: 30px;
	margin: 5px;
	order: 1;
}

.input__buttons input{
	position: absolute;
	right: 10px;
	top: 15px;
	height: 30px;
	margin-bottom: 10px;
	font-size: 1em;
	color:white;
	background-color: #8a0a8a;
	border-radius: 5px;	
	padding: 2px;
	cursor: pointer;
}
.input__buttons input:nth-child(2){
	right: 35px;
}

.input__big{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	margin-bottom :10px;
	width:90%;
	height: 500px;
}
.board__bigsubject{
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	background-color: white;
}
.board__bigarticle{
	width: 100%;
	height: 500px;
	margin-bottom: 10px;
	background-color: white;	
}
.board__bigarticle p {
	white-space: pre-wrap;
}
.board__bigothers{
	display: inline-flex;
	justify-content: flex-end;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	background-color: white;	
	list-style :none;

}
.input__bigsubject{
	width: 90%;
	height: 50px;
	margin-bottom: 
}
.input__bigarticle{
	width: 90%;
	height: 700px;
	margin-bottom: 
}
.input__bigothers{
	width: 90%;
	height: 50px;
	margin-bottom: 
}
#test_drag{
	width: 40px;
	height: 40px;
	background-color: orange;

}
@media screen and (max-width: 768px) {
	.Board{
		width: 90%;
		top: 50%;
		left:50%;
		transform: translate(-50%, -50%);
		padding-top: 120px;
	}
}