:root{     --color_dark : #303030;     --color_ivory : #e6e2dd;     --color_pink : #f8bebe;
     --color_yellow : #fec33f; }

*{
	margin : 0;
	padding: 0;
}

body{
	font-size: 14px;
    line-height: 1.5;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #060307;
    display:flex;
	flex-direction:column;
	align-items: center;
	letter-spacing : 1.5px;
}
.post_main{
	position: relative;
	width: 85%;
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header{
	position: fixed;
	top: 0;
	display: flex;
	align-items: left;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	z-index: 1;
	opacity: 0.9;
	background-color: white;
}
.post_title{
	position: relative;
	width:90%;
	height: 60px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;

}
.post_title:hover{
	background-color: gray;
}
.post_wrap{
	position: relative;
	width: 90%;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.post_title h1{
	margin-left: 10px;
	font-weight: 800;
	letter-spacing : 3px;
}

.nav_logo{
	display: flex;
}
.nav_logo a{
	margin: 10px;
}
.nav_logo p{
	margin-top: 10px;
	font-weight: 600;
	font-size: 2em;
}
.search_bar{
	position: relative;
	display: flex;
	align-items: center;
	width: 60%;
	height: 100%;
}
#search_total{
	position: relative;
	display: inline;
	width: 60px;
	border-style: none;
}
.search_bar fieldset {
  position: relative;
  display: inline-block;
  padding: 0 0 0 40px;
  background: white;
  border: none;
  border-radius: 5px;
}

.search_bar  input,
button {
  position: relative;
  width: 420px;
  height: 50px;
  padding: 0;
  display: inline-block;
  float: left;
}

.search_bar input {
  color: #666;
  z-index: 2;
  border-style: none;
  border-bottom : 1px solid;
}
.search_bar input:focus {
  outline: 0 none;
}
.search_bar input:focus + button {
    transform: translate(0, 0);
    transition-duration: 0.3s;
}
.search_bar input:focus + button .fa {
    transform: translate(0px, 0);
    transition-duration: 0.3s;
  color: #fff;
}

.search_bar button {
  z-index: 1;
  width: 50px;
  border: 0 none;
  background: #ceb980;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transform: translate(-50px, 0);
  transition-duration: 0.3s;
}

.fa-search {
  font-size: 1.4rem;
  color: #29abe2;
  z-index: 3;
  top: 25%;
         transform: translate(-400px, 0);
         transition-duration: 0.3s;
          transition: all 0.1s ease-in-out;
}
.user_profile{
 	margin-top: 10px;
}
.side{
	position: relative;
	width: 360px;
	margin-top: 20px;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

}


.side_best{
	position: relative;
	width: 100%;
	margin-top: 20px;
	border-radius: 5px;
	background-color: white;


}
.side_best h3{
	width: 100%;
	font-size: 1.5em;
	font-weight: 700;
	text-indent: 10px;
}
.side_bestContentsList{
	position: relative;
	width: 95%;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.side_bestContentsItem{
	position: relative;
	width: 100%;
	height: 40px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}
.side_bestContentsItem:hover{
	background-color: gray;
}
.side_bestContentsItem span:nth-child(1){
	position: relative;
	margin-right: 5px;
	background-color: red;
	border-radius: 50%;
}
.side_bestContentsItem img{
	position: relative;
	max-height:30px;
	border-radius: 50%;
	margin-right: 5px;
}
.side_bestContentsItem p{
	position: relative;
	width: 70%;
	font-weight: 600;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 5px;

}
.best_like{
	position: relative;
	width: 30px;
}
.best_comment{
	position: relative;
	width: 30px;
}
.side_adWrap{
	position: relative;
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 5px;
	background-color: white;
}
.side_adWrap input{
	width: 20px;
	height:20px;
	align-self: flex-end;
	margin-right: 5px;
	background-color: transparent;
	border-style: none;
	cursor: pointer;
}
.side_adWrap input:hover{
	font-weight: 700;
}

.side_adWrap img{
	max-width: 100%;
	margin-bottom: 10px;
	overflow: hidden;

}
.side_search{
	position: relative;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
#search_board{
	position: relative;
	display: inline;
	width: 60px;
	border-style: none;
}
.side_search fieldset {
  position: relative;
  display: inline-block;
  padding: 0 0 0 40px;
  background: white;
  border: none;
  border-radius: 5px;
}

.side_search  input,
button {
  position: relative;
  width: 210px;
  height: 50px;
  padding: 0;
  display: inline-block;
  float: left;
}

.side_search input {
  color: #666;
  z-index: 2;
  border: 0 none;
}
.side_search input:focus {
  outline: 0 none;
}
.side_search input:focus + button {
    transform: translate(0, 0);
    transition-duration: 0.3s;
}
.side_search input:focus + button .fa {
    transform: translate(0px, 0);
    transition-duration: 0.3s;
  color: #fff;
}

.side_search button {
  z-index: 1;
  width: 50px;
  border: 0 none;
  background: #ceb980;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transform: translate(-50px, 0);
  transition-duration: 0.3s;
}

.fa-search {
  font-size: 1.4rem;
  color: #29abe2;
  z-index: 3;
  top: 25%;
         transform: translate(-200px, 0);
         transition-duration: 0.3s;
          transition: all 0.1s ease-in-out;
}

.post_goTop{
	position: fixed;
	width: 80px;
	height: 80px;
	bottom: 50px;
	right: 50px;
	border-radius: 50%;

	background-color: var(--color_yellow);
	opacity: 0.6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 1em;
	cursor: pointer;
}
.post_goTop:hover{
	background-color: var(--color_pink);
	opacity: 1;
}

.footer{
	position: relative;
	width: 100%;
	height: 30px;

	background-color: transparent;
}


@media screen and (max-width: 1200px) {
	.side{
/*		visibility: hidden;
*/
		display: none;
		}
}