<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/group.css">
</head>

<body>

    <div class="top">
        <div class="top1">
            <div class="logo">
                <span>ROOMS</span>
            </div>
            <div class="profile">
                <img src="../static/img/user-image.png" alt="" class="user-image">
                <span id="user-id">임땡땡</span>
                <span> 님</span>
            </div>
        </div>

        <div class="top2">
            <div class="group-name group-margin">
                <span>
                    그룹 1
                </span>
            </div>
            <div class="group-subname group-margin">
                <span>
                    저희는 뭐뭐뭐를 스터디하는 스터디그룹입니다.
                    <br>
                    저희는 무엇을 무엇하는 무엇그룹입니다.
                </span>
            </div>
            <div class="group-info group-margin">
                <span>멤버 </span>
                <span id="n-user">4201</span>
                <span>리더</span>
                <span id="leader">LHW</span>
            </div>
            <span class="line"></span>
        </div>
    </div>

    <div class="group-container">
        <div class="flex2">
            <img src="../static/img/arrow-left.png" alt="">
        </div>
        <div class="flex3">
            <img src="../static/img/dog.png" alt="" class="group-image">
            <h2 id="group-1" class="n-group">그룹 1</h2>
        </div>
        <div class="flex3">
            <img src="../static/img/dog.png" alt="" class="group-image">
            <h2 id="group-2" class="n-group">그룹 2</h2>
        </div>
        <div class="flex3">
            <img src="../static/img/dog.png" alt="" class="group-image">
            <h2 id="group-3" class="n-group">그룹 3</h2>
        </div>
        <div class="flex3">
            <img src="../static/img/dog.png" alt="" class="group-image">
            <h2 id="group-3" class="n-group">그룹 4</h2>
        </div>
        <div class="flex2">
            <img src="../static/img/arrow-right.png" alt="">
            <div class="edit-btn">EDIT</div>
        </div>
    </div>
</body>

</html>