<html>


<head>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>


<script type="text/javascript" src="../static/js/login.js"></script>

<body>

    <div>
        <section class="container">
            <a href="/" class="logo">ROOMS</a>
            <div>
                <div class="input-box">
                    <input type="text" id="loginId" name="loginId" placeholder="ID">
                    <label for="loginId">ID</label>
                </div>
                <div class="input-box">
                    <input type="Password" id="loginPw" name="Password" placeholder="Password">
                    <label for="loginPw">Password</label>
                </div>
                <div class="button-box">
                    <button id="login-btn" onclick="group()">Login</button>
                </div>
            </div>
            <div class="sub-container">
                <a href="">Forgot Password?</a> |
                <a href="">Sign up</a>
            </div>
            
        </section>
    </div>

</body>


</html>