<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/group.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>


    <div data-aos="zoom-in" data-aos-duration="1000" class="container aos-init aos-animate">
        <div>
            <span class="logo">ROOMS</span>
        </div>
        <div class="sub-container">
            <a href="/login">Login</a> |
            <a href="">Signup</a>
        </div>
    </div>

    <div class="sub-title">
        베스트 룸
    </div>


    <!-- 베스트 룸 목록 슬라이더 -->
    <div class="s_container aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">

        <div class="slider_wrap">
            <div class="slider">
                <div class="slide">
                    <img src="../static/img/maple_icon.png" alt="" class="s_img">
                    <div>베스트 1</div>
                </div>
                <div class="slide">
                    <img src="../static/img/lol_icon.png" alt="" class="s_img">
                    <div>베스트 2</div>
                </div>
                <div class="slide">
                    <img src="../static/img/soccer_icon.png" alt="" class="s_img">
                    <div>베스트 3</div>
                </div>
                <div class="slide">
                    <img src="../static/img/among_icon.jpg" alt="" class="s_img">
                    <div>베스트 4</div>
                </div>
                <div class="slide">
                    <img src="../static/img/game_icon.png" alt="" class="s_img">
                    <div>베스트 5</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 6</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 7</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 8</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 9</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 10</div>
                </div>
                <div class="s_btn_left s_btn">
                    <img src="../static/img/arrow-left.png" alt="" class="s_btn_img">
                </div>
                <div class="s_btn_right s_btn">
                    <img src="../static/img/arrow-right.png" alt="" class="s_btn_img">
                </div>
            </div>
        </div>

        <div class="slide_bar">
            <div class="bar"></div>
        </div>
    </div>

    <!-- 베스트 글 목록 -->
    <div class="sub-title">
        베스트 글
    </div>

    <div class="best_board aos-animate aos-init" data-aos="zoom-out" data-aos-duration="1000">
        <div class="board board_1">
            <div class="board_room">
                [메이플스토리]
            </div>
            <div class="board_title">
                떴냐?
            </div>
        </div>
        <div class="board board_2">
            <div class="board_room">
                [어몽어스]
            </div>
            <div class="board_title">
                임포 레전드판
            </div>
        </div>
        <div class="board board_3">
            <div class="board_room">
                [축구]
            </div>
            <div class="board_title">
                이걸?
            </div>
        </div>
        <div class="board board_4">
            <div class="board_room">
                [리그오브레전드]
            </div>
            <div class="board_title">
                SKT 탈락 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            </div>
        </div>
        <div class="board board_5">
            <div class="board_room">
                [축구]
            </div>
            <div class="board_title">
                리버풀 우승
            </div>
        </div>
        <div class="board board_6">
            <div class="board_room">
                [축구]
            </div>
            <div class="board_title">
                이걸?
            </div>
        </div>
        <div class="board board_7">
            <div class="board_room">
                [축구]
            </div>
            <div class="board_title">
                이걸?
            </div>
        </div>
        <div class="board board_8">
            <div class="board_room">
                [축구]
            </div>
            <div class="board_title">
                이걸?
            </div>
        </div>
        <div class="board board_9">
            <div class="board_room">
                [야구]
            </div>
            <div class="board_title">
                '그' 팀 우승 확률
            </div>
        </div>
        <div class="board board_10">
            <div class="board_room">
                [축구]
            </div>
            <div class="board_title">
                이걸?
            </div>
        </div>
        <div class="board board_11">
            <div class="board_room">
                [어몽어스]
            </div>
            <div class="board_title">
                빅헤드 만난 판
            </div>
        </div>
        <div class="board board_12">
            <div class="board_room">
                [축구]
            </div>
            <div class="board_title">
                이걸?
            </div>
        </div>
        <div class="board board_13">
            <div class="board_room">
                [리그오브레전드]
            </div>
            <div class="board_title">
                진짜 closer는 전설이다
            </div>
        </div>
        <div class="board board_14">
            <div class="board_room">
                [축구]
            </div>
            <div class="board_title">
                이걸?ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            </div>
        </div>
        <div class="board board_15">
            <div class="board_room">
                [피파온라인]
            </div>
            <div class="board_title">
                메날두
            </div>

        </div>
        <div class="board board_16">
            <div class="board_room">
                [축구]
            </div>
            <div class="board_title">
                이걸?
            </div>

        </div>
    </div>

    <div class="sub-title">
        대분류
    </div>

    <div class="b_container aos-animate aos-init" data-aos="zoom-in" data-aos-duration="1000">
        <div class="b_btn_left b_btn">
            <img src="../static/img/arrow-left.png" alt="" class="b_btn_img">
        </div>
        <div class="b_btn_right b_btn">
            <img src="../static/img/arrow-right.png" alt="" class="b_btn_img">
        </div>
        <div>
            <div class="big_room active">
                <div class="big_room_name">
                    게임
                </div>
                <div class="small_room">

                </div>
            </div>
            <div class="big_room">
                <div class="big_room_name">
                    스포츠
                </div>
                <div class="small_room">

                </div>
            </div>
            <div class="big_room">
                <div class="big_room_name">
                    연예 / 방송
                </div>
                <div class="small_room">

                </div>
            </div>
            <div class="big_room">
                <div class="big_room_name">
                    IT / 교육
                </div>
                <div class="small_room">

                </div>
            </div>
            <div class="big_room">
                <div class="big_room_name">
                    여행 / 음식
                </div>
                <div class="small_room">

                </div>
            </div>
            <div class="big_room">
                <div class="big_room_name">
                    취미 / 생활
                </div>
                <div class="small_room">

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="../static/js/main.js" type="text/javascript"></script>

</body>


</html>