<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/group.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>


    <div data-aos="zoom-in" data-aos-duration="1000" class="container aos-init aos-animate">
        <div>
            <span class="logo">ROOMS</span>
        </div>
        <div class="sub-container">
            <a href="/login">Login</a> |
            <a href="">Signup</a>
        </div>
    </div>

    <div class="sub-title">
        베스트 룸
    </div>

    <div data-aos="fade-right" data-aos-duration="1000" data-aos-anchor-placement="bottom-bottom"
        class="group-container aos-init aos-animate">
        <div class="flex2">
            <img src="../static/img/arrow-left.png" alt="">
        </div>
        <div class="flex3">
            <img src="../static/img/dog.png" alt="" class="group-image">
            <h2 id="group-1" class="n-group">베스트 1</h2>
        </div>
        <div class="flex3">
            <img src="../static/img/dog.png" alt="" class="group-image">
            <h2 id="group-2" class="n-group">베스트 2</h2>
        </div>
        <div class="flex3">
            <img src="../static/img/dog.png" alt="" class="group-image">
            <h2 id="group-3" class="n-group">베스트 3</h2>
        </div>
        <div class="flex3">
            <img src="../static/img/dog.png" alt="" class="group-image">
            <h2 id="group-3" class="n-group">베스트 4</h2>
        </div>
        <div class="flex2">
            <img src="../static/img/arrow-right.png" alt="">
            <!-- <div class="edit-btn">EDIT</div> -->
        </div>
    </div>





    <!-- 베스트 룸 목록 슬라이더 -->
    <div class="s_container aos-init aos-animate"  data-aos="fade-right" data-aos-duration="1000">

        <div class="slider_wrap">
            <div class="slider">
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 1</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 2</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 3</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 4</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 5</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 6</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 7</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 8</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 9</div>
                </div>
                <div class="slide">
                    <img src="../static/img/dog.png" alt="" class="s_img">
                    <div>베스트 10</div>
                </div>
                <div class="s_btn_left s_btn">
                    <img src="../static/img/arrow-left.png" alt="" class="s_btn_img">
                </div>
                <div class="s_btn_right s_btn">
                    <img src="../static/img/arrow-right.png" alt="" class="s_btn_img">
                </div>
            </div> 
        </div>
    
        <div class="slide_bar">
            <div class="bar"></div>
        </div>
    </div>

    <!-- 베스트 글 목록 -->
    <div class="best_board">
        베스트 글
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="../static/js/main.js" type="text/javascript"></script>

</body>


</html>