<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" text="text/css" href="../static/css/pagination.css">
    <!-- <link rel="stylesheet" text="text/css" href="../static/css/search.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>


    <div data-aos="zoom-in" data-aos-duration="1000" class="container aos-init aos-animate">
        <div class="background_layer"></div>
        <div>
            <span class="logo">ROOMS</span>
        </div>
        <div class="sub_container">
            <span class="main_login">Login</span> |
            <span class="main_signup">Sign up</span>
        </div>
        <div class="search_container">
            <i class="fas fa-search fa-2x search_icon"></i>
            <input id="search" class="search" type="text" placeholder="Search?" autocomplete="off">
            <input id="search_submit" class="search_submit" value="" type="submit">
        </div>
    </div>

    <div id="login_container"></div>

    <div id="signup_container"></div>

    <div class="sub_title1">
        베스트 게시판
    </div>


    <!-- 베스트 게시판 목록 슬라이더 -->
    <div class="s_container aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">

        <div class="slider_wrap">
            <div class="slider">
                <div class="s_btn_left s_btn">
                    <img src="../static/img/arrow-left.png" alt="" class="s_btn_img">
                </div>
                <div class="s_btn_right s_btn">
                    <img src="../static/img/arrow-right.png" alt="" class="s_btn_img">
                </div>
            </div>
        </div>

        <div class="slide_bar">
            <div class="bar"></div>
        </div>
    </div>

    <!-- 베스트 글 목록 -->
    <div class="sub_title2">
        베스트 글
    </div>

    <div class="best_post_container aos-animate aos-init" data-aos="zoom-out" data-aos-duration="1000">

    </div>

    <div class="sub_title2">
        대분류
    </div>

    <div class="b_container aos-animate aos-init" data-aos="zoom-in" data-aos-duration="1000">
        <div class="b_btn_left b_btn">
            <img src="../static/img/arrow-left.png" alt="" class="b_btn_img">
        </div>
        <div class="b_btn_right b_btn">
            <img src="../static/img/arrow-right.png" alt="" class="b_btn_img">
        </div>
        <div class="big_room_container">
            <div class="big_room active">
                <div class="big_room_name">
                    게임
                </div>

                <div class="small_room_container"></div>

                <div class="small_room_page" id="pagination"></div>
            </div>
            <div class="big_room">
                <div class="big_room_name">
                    스포츠
                </div>

                <div class="small_room_container"></div>

                <div class="small_room_page" id="pagination"></div>
            </div>
            <div class="big_room">
                <div class="big_room_name">
                    연예 / 방송
                </div>

                <div class="small_room_container"></div>

                <div class="small_room_page" id="pagination"></div>
            </div>
            <div class="big_room">
                <div class="big_room_name">
                    IT / 교육
                </div>

                <div class="small_room_container"></div>

                <div class="small_room_page" id="pagination"></div>
            </div>
            <div class="big_room">
                <div class="big_room_name">
                    여행 / 음식
                </div>

                <div class="small_room_container"></div>

                <div class="small_room_page" id="pagination"></div>
            </div>
            <div class="big_room">
                <div class="big_room_name">
                    취미 / 생활
                </div>

                <div class="small_room_container"></div>

                <div class="small_room_page" id="pagination"></div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="../static/js/main.js" type="text/javascript"></script>
    <script src="../static/js/auth.js" type="text/javascript"></script>

</body>


</html>