<html>

<head>

    <link rel="stylesheet" type="text/css" href="../static/css/manager.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navigation.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

</head>

<body>

    <header>
        <div class="nav_container">

            <div class="nav_menus">
                <div class="nav_logo">
                    <a href="/" class="nav_logo_name">ROOMS</a>
                </div>
                <div class="nav_auth">
                    <a href="/" class="nav_menu">MAIN</a>
                </div>
            </div>

        </div>
    </header>


    <div class="top_btns">
        <button class="board_management_btn top_btn">
            카테고리/게시판 관리
        </button>
        <button class="report_management_btn top_btn">
            신고 리스트 관리
        </button>
        <button class="user_management_btn top_btn">
            회원 관리
        </button>
    </div>




    <div class="board_management_container">

        <div class="category_container">
            <span class="sub_title">카테고리 - </span>
            <select class="category_menu">
                <option selected>Select :)</option>
            </select>
            
            <button class="category_plus_btn plus_btn">카테고리 추가 (+)</button>
        </div>

        <div class="line"></div>

        <div class="board_container">
            
        </div>

        <div id="category_modal_container"></div>
        <div id="board_modal_container"></div>
        <div id="board_modify_modal_container"></div>
        

    </div>

    <div class="report_management_container">

        <div id="report_menus">
            <span class="sub_title">신고 목록 - </span>
            <select class="category_menu" id="report_select_menu">
                <option value="post">게시글</option>
                <option value="comment">댓글</option>
            </select>
            <button class="report_check_del_btn plus_btn">체크 리스트 삭제</button>
        </div>

        <div class="report_container">
            <div class="report_sub_title report">
                <input type="checkbox" disabled class="r_item">
                <span class="r_item">신고 횟수</span>
                <span class="r_item">작성자 닉네임</span>
                <span class="r_item">제목</span>
                <span class="r_item">작성 시간</span>
                <span class="r_item">회원 정지</span>
                <span class="r_item">삭제</span>
                <span class="r_item">처리</span>
            </div>
            <div class="line2"></div>
            <div class="reports">
                <!-- <div class="report">
                    <input type="checkbox" class="r_item">
                    <span class="r_item">닉넴(아디)</span>
                    <span class="r_item">아 ㅋㅋ 신고 게시글 제목</span>
                    <span class="r_item">13</span>
                    <button id="report_blacklist_btn" class="report_btn r_item">회원 정지</button>
                    <button id="report_del_btn" class="report_btn r_item">삭제</button>
                    <button id="report_cancel_btn" class="report_btn r_item">V</button>
                </div> -->
                <!-- <div class="report">
                    <input type="checkbox" class="r_item">
                    <span class="r_item">2020/09/14</span>
                    <span class="r_item">신고 게시글 예시1</span>
                    <span class="r_item">욕설 및 부적절한 언어 사용</span>
                    <button id="report_blacklist_btn" class="report_btn r_item">회원 정지</button>
                    <button id="report_del_btn" class="report_btn r_item">삭제</button>
                    <button id="report_cancel_btn" class="report_btn r_item">V</button>
                </div>
                <div class="report">
                    <input type="checkbox" class="r_item">
                    <span class="r_item">2020/09/19</span>
                    <span class="r_item">신고 게시글 예시2</span>
                    <span class="r_item">홍보 및 낚시성 게시글</span>
                    <button id="report_blacklist_btn" class="report_btn r_item">회원 정지</button>
                    <button id="report_del_btn" class="report_btn r_item">삭제</button>
                    <button id="report_cancel_btn" class="report_btn r_item">V</button>
                </div>
                <div class="report">
                    <input type="checkbox" class="r_item">
                    <span class="r_item">2020/09/24</span>
                    <span class="r_item">신고 게시글 예시3</span>
                    <span class="r_item">음란성 및 청소년에게 부적절한 내용</span>
                    <button id="report_blacklist_btn" class="report_btn r_item">회원 정지</button>
                    <button id="report_del_btn" class="report_btn r_item">삭제</button>
                    <button id="report_cancel_btn" class="report_btn r_item">V</button>
                </div>
                <div class="report">
                    <input type="checkbox" class="r_item">
                    <span class="r_item">2020/10/03</span>
                    <span class="r_item">신고 게시글 예시4</span>
                    <span class="r_item">홍보 및 낚시성 게시글</span>
                    <button id="report_blacklist_btn" class="report_btn r_item">회원 정지</button>
                    <button id="report_del_btn" class="report_btn r_item">삭제</button>
                    <button id="report_cancel_btn" class="report_btn r_item">V</button>
                </div> -->
            </div>
        </div>

        <div id="blacklist_modal_container"></div>

    </div>

    <div class="user_management_container">
        <div>
            <span class="sub_title">회원 관리 - </span>
            <select class="user_search_option">
                <option value="1">회원 닉네임</option>
            </select>
            <input type="text" class="user_search_input" placeholder="닉네임 검색">
            <button class="user_search_btn plus_btn">검색</button>
        </div>

        <div class="user_container report_container">
            <div class="user_sub_title user">
                <span class="r_item">회원 이름</span>
                <span class="r_item">아이디</span>
                <span class="r_item">닉네임</span>
                <span class="r_item">이메일</span>
                <span class="r_item">생년월일</span>
                <span class="r_item">회원 수정</span>             
                <span class="r_item">회원 삭제</span>
            </div>
            <div class="line2"></div>
            <div class="users">
                
            </div>
        </div>

        <div id="user_modify_modal_container"></div>
        
    </div>



    <script src="../static/js/manager.js" type="text/javascript"></script>

</body>


</html>