<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mypage.css">
    <link rel="stylesheet" text="text/css" href="../static/css/navigation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
    
    <header>
        <div class="nav_container">

            <div class="nav_menus">
                <div class="nav_logo">
                    <a href="/" class="nav_logo_name">ROOMS</a>
                </div>
                <div class="nav_auth">
                    <span id="nav_login" class="nav_login">로그인</span>
                    <span id="nav_signup" class="nav_signup">회원가입</span>
                </div>
            </div>

        </div>
    </header>

    <div id="login_container"></div>
    <div id="signup_container"></div>

    <div class="mypage_container">
        <div class="user_info_container">
            <div class="user_info_title">
                <i class="fas fa-user"> </i> 회원 정보
            </div>
            <div class="user_info_sub_container">
            </div>
        </div>
    </div>

    <div class="user_info_modify_container"></div>

    <script type="module" src="/static/js/config.js"></script>
    <script type="module" src="/static/js/controllers/mypage/userinfo.js"></script>
    <!-- <script type="module" src="../static/js/Auth/event.js" ></script>
    <script type="module" src="../static/js/Auth/main.js" ></script> -->
    <!-- <script type="module" src="../static/js/Auth/render.js" ></script> -->
    <!-- <script type="module" src="../static/js/board/list/event.js" ></script> -->
    <script type="module" src="../static/js/board/list/index.js" ></script>
    <!-- <script type="module" src="../static/js/board/list/render.js" ></script> -->
    <script type="module" src="../static/js/board/post/event.js" ></script>

</body>

</html>