<!DOCTYPE html>
<html>
<head>
	<title>Web Project - YourRoom</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width , initial-scale=1.0">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/post.css') }}">

	<link rel='stylesheet' href="{{ url_for('static', filename='css/navigation.css') }}">

</head>
<body>

	<header>
        <div class="nav_container">

            <div class="nav_menus">
                <div class="nav_logo">
                    <a href="/" class="nav_logo_name">ROOMS</a>
                </div>
            <div class="search_bar">
				<select name="search_total" id="search_total">
					<option value="전체">전체</option>
					<option value="제목">제목</option>
					<option value="내용">내용</option>
					<option value="글쓴이">글쓴이</option>
				</select>
				<input type="search" placeholder="검색내용을 입력하세요" />
				<button type="submit">
					<i class="fa fa-search"></i>
				</button>
			</div>
                <div class="nav_auth">
                    <span id="nav_login" class="nav_login">로그인</span>
                    <span id="nav_signup" class="nav_signup">회원가입</span>
                </div>
            </div>

        </div>
    </header>

	<div class="post_main" >
		<div class="post_title"><h1></h1></div>
		<div class="post_wrap">
			<section class="post">
			</section>

			<section class="side">
				<div class="side_search">
					<select name="search_board" id="search_board">
						<option value="전체">전체</option>
						<option value="제목">제목</option>
						<option value="내용">내용</option>
						<option value="글쓴이">글쓴이</option>
					</select>
					<input type="search" placeholder="검색내용을 입력하세요" />
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>
				<div class="side_best">
					<h3>베스트 게시글</h3>
					<div class="side_bestContentsList"></div>
				</div>
				<div class="side_adWrap">
					<img src="http://www.sejongpr.ac.kr/ImageFileView?imgPath=board&imgName=30_1.jpg&imgGubun=F">
				</div>
				<div class="side_adWrap">
					<img src="https://i.pinimg.com/564x/34/d2/5e/34d25eac59527f61b86bbd6bedf81345.jpg">
				</div>


			</section>
		</div>
	</div>
	<div class="post_goTop">TOP</div>
			<div id="login_container"></div>
    <div id="signup_container"></div>
	<div class="footer"></div>


	<script src="https://kit.fontawesome.com/8625eebbbc.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/post/main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/post/fetch.js') }}"></script>
	<script src="{{ url_for('static', filename='js/post/render.js') }}"></script>
	<script src="{{ url_for('static', filename='js/post/router.js') }}"></script>
	<script src="{{ url_for('static', filename='js/post/event.js') }}"></script>

	<script src="{{ url_for('static', filename='js/auth.js') }}"></script>

</body>
</html>