<!DOCTYPE html>
<html>
<head>
	<title>Web Project - YourRoom</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width , initial-scale=1.0">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/post.css') }}">

</head>
<body>
	<header>
		<div class="nav_logo">
			<a href="http://127.0.0.1:5000/">
				<img src="https://img.icons8.com/ios/50/000000/room.png"/>
			</a>
			<p>ROOMS</p>
		</div>
		<div class="search_bar">
			<select name="search_total" id="search_total">
						<option value="전체">전체</option>
						<option value="제목">제목</option>
						<option value="내용">내용</option>
						<option value="글쓴이">글쓴이</option>
					</select>
					<fieldset>
						<input type="search" placeholder="검색내용을 입력하세요" />
						<button type="submit">
							<i class="fa fa-search"></i>
						</button>
					</fieldset>
		</div>
		<div class="user_profile">
			<a href="">

				<img src="https://img.icons8.com/ios/50/000000/user-male-circle.png"/>
			</a>
			<p></p>
		</div>
	</header>
	<div class="post_main" >
		<div class="post_title"></div>
		<div class="post_wrap">
			<section class="post">
			</section>

			<section class="side">
				<div class="side_search">
					<select name="search_board" id="search_board">
						<option value="전체">전체</option>
						<option value="제목">제목</option>
						<option value="내용">내용</option>
						<option value="글쓴이">글쓴이</option>
					</select>
					<fieldset>
						<input type="search" placeholder="검색내용을 입력하세요" />
						<button type="submit">
							<i class="fa fa-search"></i>
						</button>
					</fieldset>
				</div>
				<div class="side_best">
					<h3>Best</h3>
					<div class="side_bestContentsList"></div>
				</div>
				<div class="side_adWrap">
					<input type="button" id="adButton_1" value="X">
					<img src="https://www.book21.com/data/book/FILE147727631769.jpg">
				</div>
				<div class="side_adWrap">
					<input type="button" id="adButton_2" value="X">
					<img src="https://i.pinimg.com/originals/42/7b/5f/427b5f6ed9161578e73bf6b5e43fd2e2.jpg">
				</div>


			</section>
		</div>
	</div>
	<div class="post_goTop">TOP</div>
	<div class="footer"></div>


	<script src="https://kit.fontawesome.com/8625eebbbc.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/post/main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/post/fetch.js') }}"></script>
	<script src="{{ url_for('static', filename='js/post/render_tool.js') }}"></script>
	<script src="{{ url_for('static', filename='js/post/render.js') }}"></script>
	<script src="{{ url_for('static', filename='js/post/router.js') }}"></script>
	<script src="{{ url_for('static', filename='js/post/event.js') }}"></script>
</body>
</html>