<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>History API</title>
</head>
<body>

<div id="state"></div>
<a href="/rooms">asdfzsdfsdghhhh</a>
<button id="pushState">pushState</button>
<button id="replaceState">replaceState</button>
<script>
const myTimer = setTimeout(function(){
  // router();
  console.log('타이머실행 ');
}, 1000);
// myTimer();
clearTimeout(myTimer);
    console.log(location.pathname.split('/'));
  document.querySelector('#pushState').addEventListener('click', function () {
    history.pushState({ data: 'pushpush' }, 'title을 pushState로', '/pushpush');
    console.log(location.pathname);
  });
  document.querySelector('#replaceState').addEventListener('click', function () {
    history.replaceState({ data: 'replace' }, 'title을 replaceState로', '/replace');
  });
  window.addEventListener('popstate', function () {
    console.log('popstate', history.state);
    document.querySelector('#state').innerHTML = JSON.stringify(history.state);
  });

  document.querySelector('a').addEventListener('click',e=>{
        
        e.preventDefault();
        pushState(,'','/rooms');
                e.preventDefault();
        console.log('asdf');
  })
</script>
</body>
</html>